
  /* Slider Container */
  .testimonial-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Testimonial Content */
  .testimonial-content {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transition on the container */
  }
  
  .testimonial-item {
    min-width: 100%; /* Each slide should take full width */
    height: auto;
  }
  
  .testimonial-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image is properly scaled */
  }
  
  /* Arrow Buttons */
  .slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .arrow-button {
    background: rgba(108, 108, 108, 0.313);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    width: 50px;
    text-align: center;
    padding: 5px 0;
    margin: 0 10px;
    transition: background 0.3s;
  }
  
  .arrow-button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Bullets Below */
  .bullets {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .bullet.active {
    background-color: #555;
  }
  
  .bullet:hover {
    background-color: #555;
    transform: scale(1.2);
  }
  
  .testimonial-text h2 {
    padding:40px 0px;
    text-align: center;
    color: red;
    font-size: 3rem;
    margin-bottom: 40px;
    animation: fadeIn 2s ease-out;
  }
  