footer{
    width: 100%;
    text-align: center;
    background: radial-gradient(27.2745% 35.9016% at 50% 0%, rgba(215, 215, 218, 0.189) 0%, rgba(13, 13, 13, 0.185) 100%);
    padding:20px 0px;
}
.footer{
  max-width: 1400px;
  margin: auto;
color:white;



}
.footer-text h2{
    font-size: 30px;
    padding:30px 0px;
}
.navbar-footer{
    padding:20px;
    max-width:800px;
    margin: auto;
}
.navbar-footer ul{
    display: flex;
    justify-content: space-evenly;
}
.navbar-footer ul li{
    font-size: 18px;
   
}
.email{
    max-width:400px;
    margin: auto;
    
    background-color: #54504c70;
    width:100%;
    border-radius: 5px;
    border: 1px solid #54504c;
    padding:15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email a{
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 600;

}
.copyright{
    padding:20px 15px;
    border-top: 1px solid #54504c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy-right h2{
    font-size: 20px;
    font-weight: 500;

}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkedin, .twitter, .instagram{
    background-color: #54504c;
    padding:10px 12px;
    border-radius: 5px;
    margin: 0px 5px;

    &:hover{
        background-color: #54504ce2;
    }
}